body{

	text-align: center;
	font-size: 20px;
	background-color: #b5b5b5;	

}

button {
	
	margin: 2em;

	a{
		text-decoration: none;
		color: black;
		font-size: 16px;
		padding: 2em;
	}
}

table{

	text-align: center;
	margin: 0 auto;
	padding-top: 4em;
	
	td{

	/*	border: 2px solid black;*/
		
		/*font-size: 18px;*/

		input{

			font-size: 18px;
			padding: 1em;
			margin: 3em;
			
		}
	}
		
}



#prof{

	font-size: 18px;
	padding: 1em;
}
