form { 

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body{	
	color: #000000;
	background-color: #b5b5b5;

}

h1{

	text-align: left;
	font-size: 72px;
}

/*
ul{
	margin-top: 4em;
	text-align: center;
	list-style-type: none;

	li{
		display: inline;
	}

}

*/

#greeting{

	text-align: center;
}

#login{

	background-color: grey;
	width: 90%;
	margin: 0 auto;
	color: #ffffff;

}



#username, #password{
	
	font-size: 24px;
}

#val{

	text-align: center;
	width: 10%;
}


#rss{
	
	h1{
		text-align: center;
	}

	background-color: white;
	width: 50%;
	float: right;
	height: 75vh;
	overflow-y: scroll;
	
	ul{

		list-style-type: none;
	}

}
