form { 

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body{	
	color: #000000;

}

h1{

	text-align: center;
}

#sbmt{

	background-color: black;
	width: 75%;
	margin: 0 auto;
	color: #ffffff;

}
